@media(max-width: 1199px){
    .enq-form{
        top: 25%;
    }
}


@media(max-width: 991px){
    .navbar-collapse{
        flex-basis: auto;
        flex-grow: inherit;
    }
    .navbar-nav .nav-link{
        padding: 10px;
    }
    .hero-text h2{
        font-size: 45px;
    }
    .hero-text h2 span{
        font-size: 40px;
    }
    .sub-papers span{
        font-size: 12px;
    }
    .spec-img{
        display: none;
    }
    .spec-content-inner{
        margin: 25px 0;
    }
    .spec-content-inner h1{
        text-align: center;
        margin-left: 0;
    }
    .spec-content-inner h1::after{
        left: 50%;
        transform: translate(-50%);
    }
    .course-card-img{
        width: 100%;
        height: 220px;
    }
    .course-card-content{
        width: 100%;
    }
    .about-content{
        margin-bottom: 30px;
    }
    .quality-header p{
        margin-bottom: 20px;
    }
    .about-section{
        padding: 70px 0;
    }
    .download-content{
        flex-direction: column;
    }
    .download-content h2{
        margin-bottom: 25px;
    }
    .footer-logo-place{
        margin-bottom: 30px;
    }
}

@media(max-width: 767px){
    .hero:after{
        display: none;
    }
    .hero-text{
        padding-top: 40px;
    }
    .navbar-nav .nav-link{
        padding: 8px;
        margin-top: 10px;
        font-size: 16px;
    }
    .criteria-section{
        margin-top: 280px;
    }
    .text-left-767{
        text-align: left !important;
    }
    .hero img{
        margin: 25px 0;
    }
    .contact-img{
        margin-top: 20px;
    }
    .form-box form{
        display: block;
    }
    form input.inp{
        margin-bottom: 10px;
    }
    .course-section{
        margin-top: 170px;
    }
    .about-content{
        padding-top: 20px;
        margin-bottom: 30px;
    }
    .banner-form .enq-form{
        padding: 20px 10px 40px;
    }
    .modal-left{
        width: 100%;
        height: 350px;
    }
    .modal-right{
        padding: 40px 30px 60px;
        width: 100%;
        display: block;
        height: auto;
    }
    .modal-body button.close{
        top: 10px;
    }
    .modal-body button.close i{
        background: #fff;
    }
    .modal-heading{
        display: none;
    }
    .modal-header-767{
        display: block !important;
        position: absolute;
        color: #fff;
        top: 52px;
        left: 50%;
        z-index: 9999;
        transform: translate(-50%,-50%);
    }
    .modal-header-767 h3{
        color: #fff;
        font-size: 30px;
        font-weight: 700;
    }
    .contact-area{
        padding: 50px 0 0;
    }
    .download-content h2{
        margin-bottom: 20px;
    }
    .hero{
        height: 50vh;
    }
    .enq-form{
        top: 85%;
        right: 10%;
        width: 80%;
        opacity: 10;
    }
    .footer-logo-place p{
        margin-bottom: 30px;
    }
}

@media(max-width: 576px){
    .hero{
        height: 40vh;
    }
    .criteria-header h2{
        font-size: 1.5rem;
    }
}

@media(max-width: 430px){
    .about-box{
        width: 300px;
        height: 300px;
    }
    .about-box:after{
        width: 200px;
        height: 200px;
    }
    .course-header h2{
        font-size: 1.8rem;
    }
}

@media(max-width:400px){
    .hero-text h2{
        font-size: 38px;
    }
    .navbar-nav li a{
        font-size: 12px;
    }
    .nav-btn{
        padding: 12px 24px;
        margin-top: 13px;
    }
    .navbar-brand img{
        max-width: 145px;
    }
    .navbar-nav .nav-link{
        font-size: 14px;
        margin-right: 0 !important;
    }
    .sub-papers span{
        font-size: 10px;
    }
    .criteria-header h2{
        font-size: 1.35rem;
    }
    .testi-header h1{
        font-size: 2.2rem;
    }
    .contact-no h5{
        font-size: .9rem;
    }
    .banner-section{
        margin-top: 84px;
    }
    .hero{
        height: 25vh;
    }
    .enq-form{
        top: 85%;
        right: 10%;
        width: 81%;
        box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
        opacity: 10;
    }
    .fixed-side-btn{
        display: none;
    }
}

@media(min-width:576px) and (max-width:767px){
    .modal-dialog{
        max-width: 500px;
    }
}

@media(min-width: 768px){
    .res-768{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex: 100%;
    }
}

